ul(class="Messages")
  //
    messages user
  li(class="Messages-item")
    picture(class="Messages-image")
      source(srcset="https://randomuser.me/api/portraits/med/men/95.jpg", width="50", height="50")
      img(srcset="https://randomuser.me/api/portraits/med/men/95.jpg", alt="Marc Howard", width="50", height="50")
    div(class="Messages-author")
      span Marc Howard
    div(class="Messages-snippet")
      span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, iure officiis ex quia inventore laudantium culpa eveniet animi aliquid. Molestias consequuntur esse reprehenderit sit, similique inventore laborum, architecto laboriosam aliquid?
  li(class="Messages-item")
    picture(class="Messages-image")
      source(srcset="https://randomuser.me/api/portraits/med/women/39.jpg", width="50", height="50")
      img(srcset="https://randomuser.me/api/portraits/med/women/39.jpg", alt="Carmen Dunn", width="50", height="50")
    div(class="Messages-author")
      span Marc Howard
    div(class="Messages-snippet")
      span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, iure officiis ex quia inventore laudantium culpa eveniet animi aliquid. Molestias consequuntur esse reprehenderit sit, similique inventore laborum, architecto laboriosam aliquid?
  