greenflat = #8DC63F
dgreenflat = #00C96D
blueflat = #009EDF
dblueflat = #0C5C86
blueflatf = #112C4A
dgrayflat = #3D4351
redflat = #DD4B39
dredflat = #BA0613
yellowflat = #F0C42C
dyellowflat = #FFA200
grayflat = #CCCCCC
ngrayflat = #EBEEF4
lgrayflat = #F9F9F9
blackflat = #181D1F
map(x , y)
	background-position x y
	opacity .5
.Location
	background lgrayflat
	color blackflat
	text-align center
	font-size 1.5em
	font-weight 300
	&-mobileDrop
		color blueflat
		cursor pointer
		>.icon
			color blackflat
			transition all .3s
		&.active
			display block
			>.icon
				display inline-block
				transform rotate(180deg)
	&-mobileList
		display none
		list-style none
		padding 0
		margin 0
		&.active
			display block
		
	&-mobileItem
		&:nth-child(odd)
			background ngrayflat
		>a
			padding .5em
			display block
			color blackflat
			text-decoration none
			position relative
			transition all .3s
			&:hover
				background rgba(blackflat,.1)
			&:after
				content "\e015"
				font-family Flaticon
				color blueflat
				position absolute
				left .5em
	&-desktop
		background lgrayflat
		display none
		&Name
			color blueflat
		&Map
			width 450px
			height 260px
			background-image url(../media/images/sprites/maps/sv/mapsv.png)
			background-repeat no-repeat
			background-size 450px 260px
			margin-left auto
			margin-right auto
			&Sprites 
				width 450px
				height 260px
				background-image url(../media/images/sprites/maps/sv/sv_sprites.png)
				background-size 3600px 520px
				map(-3150px,0)
				&.zone1
					map(0,0)
				&.zone2
					map(-450px,0)
				&.zone3
					map(-900px,0)
				&.zone4
					map(-1350px,0)
				&.zone5
					map(-1800px,0)
				&.zone6
					map(-2250px,0)
				&.zone7
					map(-2700px,0)
				&.zone8
					map(0,-260px)
				&.zone9
					map(-450px,-260px)
				&.zone10
					map(-900px,-260px)
				&.zone11
					map(-1350px,-260px)
				&.zone12
					map(-1800px,-260px)
				&.zone13
					map(-2250px,-260px)
				&.zone14
					map(-2700px,-260px)
@media(min-width 660px)
	.Location
		&-mobileList
			column-count 2
			column-gap 0
@media(min-width 1024px)
	.Location
		display flex
		&-mobile
			display none
		&-desktop
			display flex
			flex-direction column
			justify-content space-around
			min-width 500px
