greenflat = #8DC63F
dgreenflat = #00C96D
blueflat = #009EDF
dblueflat = #0C5C86
blueflatf = #112C4A
dgrayflat = #3D4351
redflat = #DD4B39
dredflat = #BA0613
yellowflat = #F0C42C
dyellowflat = #FFA200
grayflat = #CCCCCC
lgrayflat = #F9F9F9
blackflat = #181D1F
@import './welcome/styles.styl'
@import './location/styles.styl'
@import './categories/styles.styl'
.Layout
	&-landing
		display flex
		flex-direction column
	&-categories
		display block
@media(min-width 1024px)
	.Layout
		&-landing
			flex-direction row
		
