ul(class="Notifications")
  //
    Notifications
  li(class="Notifications-item")
    picture(class="Notifications-image")
      source(srcset="https://randomuser.me/api/portraits/med/women/34.jpg", width="50", height="50")
      img(srcset="https://randomuser.me/api/portraits/med/women/34.jpg", alt="Marc Howard", width="50", height="50")
    div(class="Notifications-author")
      span Taylor Howard
    div(class="Notifications-snippet")
      span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, iure officiis ex quia inventore laudantium culpa eveniet animi aliquid. Molestias consequuntur esse reprehenderit sit, similique inventore laborum, architecto laboriosam aliquid?
  li(class="Notifications-item")
    picture(class="Notifications-image")
      source(srcset="https://randomuser.me/api/portraits/med/men/45.jpg", width="50", height="50")
      img(srcset="https://randomuser.me/api/portraits/med/men/45.jpg", alt="Marc Howard", width="50", height="50")
    div(class="Notifications-author")
      span Taylor Howard
    div(class="Notifications-snippet")
      span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, iure officiis ex quia inventore laudantium culpa eveniet animi aliquid. Molestias consequuntur esse reprehenderit sit, similique inventore laborum, architecto laboriosam aliquid?