div(class="Notif")
  div(class="Notif-option")
    a(href="#") Mensajes
    div(class="Notif-layout")
      include ../messages/template.jade
  div(class="Notif-option")
    a(href="#") Notificaciones
    div(class="Notif-layout")
      include ../notifications/template.jade
