div(class="Welcome")
	div(class="Welcome-container")
		div(class="Welcome-text") Compra o vende lo que quieras
		a(href="#",class="Btn Btn--greenR Welcome-btn ") Inicia ahora
		div() o
		a(href="#",class="Btn Btn--blueR Welcome-btn") Publica gratis
