greenflat = #8DC63F
dgreenflat = #00C96D
blueflat = #009EDF
dblueflat = #0C5C86
blueflatf = #112C4A
dgrayflat = #3D4351
redflat = #DD4B39
dredflat = #BA0613
yellowflat = #F0C42C
dyellowflat = #FFA200
grayflat = #CCCCCC
ngrayflat = #EBEEF4
lgrayflat = #F9F9F9
blackflat = #181D1F
.Categories
	&-container
		padding 0em
		column-count 1
		display flex
		flex-direction column
	&-header
		font-weight 300
		font-size 2em
		margin none
		color blackflat
.Category
	display inline-block
	overflow hidden
	&-link
		background white
		color blackflat
		display flex
		justify-content flex-start
		padding: 0 1em
		text-decoration none
		border-bottom 2px solid blueflat
	&-title
		line-height 100px
		margin 0
		font-weight 300
		font-size 1.5em
	&-iconIndex
		background-image url('../media/images/sprites/categories.png')
		display block
		width 100px
		height 100px
		background-size 100px 1200px
		&.category1
			background-position-y 0
		&.category2
			background-position-y -100px
		&.category3
			background-position-y -200px
		&.category4
			background-position-y -300px
		&.category5
			background-position-y -400px
		&.category6
			background-position-y -500px
		&.category7
			background-position-y -600px
		&.category8
			background-position-y -700px
		&.category9
			background-position-y -800px
		&.category10
			background-position-y -900px
		&.category11
			background-position-y -1000px
		&.category12
			background-position-y -1100px
.Subcategory
	&-container
		background lgrayflat
		margin 0
		padding 0
		column-count 2
		column-gap 0
	&-title
		background lgrayflat
	&-link
		line-height 3em
		padding 0 1em
		text-decoration none
		font-size 1.1em
		color blueflat
		display block
		font-weight 300
		transition all .3s
		&:hover
			background rgba(white, .8)
			font-weight normal
			padding-left 2em
@media(min-width 568px)
	.Categories
		padding 0 .5em
		&-container
			column-count 2
			column-gap .5em
			display block
	.Category
		width 100%
		&-link
			justify-content flex-start
	.Subcategory
		&-container
			column-count 1
@media(min-width 768px)
	.Categories
		&-container
			column-count 3
@media(min-width 1280px)
	.Categories
		&-container
			column-count 4