div(class="Categories")
	h2(class="Categories-header") Categorías
	ul(class="Categories-container")
		li(class="Category")
			a(class="Category-link", href="#")
				span(class="Category-iconIndex category1")
				h3(class="Category-title") Electrónicos
			ul(class="Subcategory-container")
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Computadoras
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Laptops
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Televisores
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Almacenamiento
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Accesorios PC
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Audio
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Video
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Camaras
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Consolas
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Videojuegos
		li(class="Category")
			a(class="Category-link", href="#")
				span(class="Category-iconIndex category2")
				h3(class="Category-title") Moviles
			ul(class="Subcategory-container")
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Smartphone
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Celular
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Tablet
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Proctectores
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Repuestos
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Accesorios
		li(class="Category")
			a(class="Category-link", href="#")
				span(class="Category-iconIndex category3")
				h3(class="Category-title") Moda
			ul(class="Subcategory-container")
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Ropa-Mujer
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Calzado-Mujer
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Ropa-Hombre
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Calzado-Hombre
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Bebes-Niños
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Reloj
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Joyas
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Accesorios
		li(class="Category")
			a(class="Category-link", href="#")
				span(class="Category-iconIndex category4")
				h3(class="Category-title") Hogar-Muebles
			ul(class="Subcategory-container")
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Electrodomésticos
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Muebles
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Decoración
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Cocina
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Jardin
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Oficina
		li(class="Category")
			a(class="Category-link", href="#")
				span(class="Category-iconIndex category5")
				h3(class="Category-title") Ocio-Deporte
			ul(class="Subcategory-container")
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Juegos-Juguetes
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Libros
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) CD's
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) DVD´s
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Intrumentos
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Bicicleta
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Gimnasio
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Deportes
		li(class="Category")
			a(class="Category-link", href="#")
				span(class="Category-iconIndex category6")
				h3(class="Category-title") Vehículos
			ul(class="Subcategory-container")
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Automovil
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Motocicletas
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Camiones
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Accesorios
		li(class="Category")
			a(class="Category-link", href="#")
				span(class="Category-iconIndex category7")
				h3(class="Category-title") Mascotas
			ul(class="Subcategory-container")
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Perros
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Gatos
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Aves
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Otros Animales
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Salud Animales
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Accesorios
		li(class="Category")
			a(class="Category-link", href="#")
				span(class="Category-iconIndex category8")
				h3(class="Category-title") Inmuebles
			ul(class="Subcategory-container")
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Casas-Alquiler
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Casas-Venta
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Terrenos
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Oficinas
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Locales
		li(class="Category")
			a(class="Category-link", href="#")
				span(class="Category-iconIndex category9")
				h3(class="Category-title") Clases
			ul(class="Subcategory-container")
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Música
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Teatro
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Danza
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Tutores
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Otros cursos
		li(class="Category")
			a(class="Category-link", href="#")
				span(class="Category-iconIndex category10")
				h3(class="Category-title") Servicios
			ul(class="Subcategory-container")
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Reparación
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Mudanza
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Salud y Belleza
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Domesticos
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Profesionales
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Eventos
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Informatica
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Otros
		li(class="Category")
			a(class="Category-link", href="#")
				span(class="Category-iconIndex category11")
				h3(class="Category-title") Otros
			ul(class="Subcategory-container")
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Colecciones
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Curiosidades
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Antigüedades
				li(class="Subcategory-title") 
					a(class="Subcategory-link", href="#" ) Varios
				