@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
}.flaticon-add:before {
	content: "\e000";
}
.flaticon-r-arrow:before {
	content: "\e001";
}
.flaticon-bell:before {
	content: "\e002";
}
.flaticon-calendar2:before {
	content: "\e003";
}
.flaticon-camera2:before {
	content: "\e004";
}
.flaticon-camera1:before {
	content: "\e005";
}
.flaticon-clock:before {
	content: "\e006";
}
.flaticon-close:before {
	content: "\e007";
}
.flaticon-confg:before {
	content: "\e008";
}
.flaticon-coin:before {
	content: "\e009";
}
.flaticon-coins:before {
	content: "\e00a";
}
.flaticon-coment:before {
	content: "\e00b";
}
.flaticon-logout:before {
	content: "\e00c";
}
.flaticon-dislike:before {
	content: "\e00d";
}
.flaticon-drop:before {
	content: "\e00e";
}
.flaticon-post4:before {
	content: "\e00f";
}
.flaticon-email:before {
	content: "\e010";
	margin-right: .5em
}
.flaticon-follows:before {
	content: "\e011";
}
.flaticon-gplus:before {
	content: "\e012";
}
.flaticon-l-arrow:before {
	content: "\e013";
}
.flaticon-like:before {
	content: "\e014";
}
.flaticon-location:before {
	content: "\e015";
}
.flaticon-fb:before {
	content: "\e016";
	margin-right: .5em
}
.flaticon-fav:before {
	content: "\e017";
}
.flaticon-menu1:before {
	content: "\e018";
}
.flaticon-message2:before {
	content: "\e019";
}
.flaticon-message3:before {
	content: "\e01a";
}
.flaticon-calendar1:before {
	content: "\e01b";
}
.flaticon-post1:before {
	content: "\e01c";
}
.flaticon-post2:before {
	content: "\e01d";
}
.flaticon-post3:before {
	content: "\e01e";
}
.flaticon-menu2:before {
	content: "\e01f";
}
.flaticon-search:before {
	content: "\e020";
}
.flaticon-smartphone:before {
	content: "\e021";
}
.flaticon-message:before {
	content: "\e022";
}
.flaticon-telephone:before {
	content: "\e023";
}
.flaticon-tikc:before {
	content: "\e024";
}
.flaticon-trash:before {
	content: "\e025";
}
.flaticon-twitter:before {
	content: "\e026";
	margin-right:  .5em
}
.flaticon-user:before {
	content: "\e027";
}
.flaticon-world:before {
	content: "\e028";
}
.flaticon-yt:before {
	content: "\e029";
}
