footer(class="Footer")
	div(class="Footer-container")
		ul(class="Footer-columns")
			li(class="Footer-column")
				h2(class="Footer-column-title") Información
				ul(class="Footer-column-links")
					li(class="Footer-column-item")
						a(class="Footer-column-link", href="#") Contacto & ayuda
					li(class="Footer-column-item")
						a(class="Footer-column-link", href="#") Terminos & Condiciones 
					li(class="Footer-column-item")
						a(class="Footer-column-link", href="#") Acerca de Trukes
			li(class="Footer-column")
				h2(class="Footer-column-title") Servicios
				ul(class="Footer-column-links")
					li(class="Footer-column-item")
						a(class="Footer-column-link", href="#") Publica anuncio gratis
					li(class="Footer-column-item")
						a(class="Footer-column-link", href="#") Inicia ahora 
			li(class="Footer-column")
				h2(class="Footer-column-title") Conéctate 
				ul(class="Footer-column-links")
					li(class="Footer-column-item")
						a(class="Footer-column-link flaticon-fb", href="https://www.facebook.com/truekeselsalvador", target="_blank") /truekeselsalvador
					li(class="Footer-column-item")
						a(class="Footer-column-link flaticon-twitter", href="https://www.twitter.com/truekesSV", target="_blank") @truekesSV 
					li(class="Footer-column-item")
						a(class="Footer-column-link flaticon-email", href="mailto:hola@truekes.com.sv", target="_blank") hola@truekes.com.sv
	div(class="Footer-end")

		p(class="Footer-copyright")
			img(srcset="./public/media/images/truekes-1x.png 1x, ./public/media/images/truekes-2x.png 2x", alt="Truekes" height="20", class="grayscale") 
			© 2015 truekes.com.sv Todos los derechos reservados.