greenflat = #8DC63f
blueflat = #3A8EBF
dblueflat = #0C5C86
dgrayflat = #3D4351
redflat = #F84545
yellowflat = #F0C42C
grayflat = #CCCCCC
lgrayflat = #F9F9F9
.Menu
	order 1
	heigth 50px
	overflow hidden