nav(class="Menu")
  //
    menu without logging
  ul(class="Menu-container")
    li(class="Menu-option")
      a(href="#", class="Btn Btn--blue") Publicar
    li(class="Menu-option")
      a(href="#", class="Btn Btn--green") Ingresar
  //
    menu at login
  ul(class="Menu-container")
    li(class="Menu-option")
      include ../notif/template.jade