div(class="UserMenu")
	//
		user menu options
	div(class="Menu-item UserMenu-option")
		a(href="#" class="Btn Btn--transparentR UserMenu-dropM prevent")
			span(class="icon-menu")
		a(href="#" class="UserMenu-dropD Btn Btn--transparentR prevent")
			picture(class="UserMenu-avatar ")
				source(srcset="https://randomuser.me/api/portraits/med/men/88.jpg", width="50", height="50")
				img(srcset="https://randomuser.me/api/portraits/med/men/88.jpg", alt="Fernando Barnes", width="50", height="50")
			span(class="UserMenu-name") Fernando
		ul(class="UserMenu-layout")
			li(class="UserMenu-item")
				a(href="#" class="UserMenu-a")
					span(class="icon flaticon-user") 
					span() Perfil
			li(class="UserMenu-item")
				a(href="#" class="UserMenu-a")
					span(class="icon flaticon-coment")
					span() Inicio
			li(class="UserMenu-item")
				a(href="#" class="UserMenu-a")
					span(class="icon flaticon-confg")
					span() Configuración
			li(class="UserMenu-item")
				a(href="#" class="UserMenu-a")
					span(class="icon flaticon-logout")
					span() salir