div(class="Search")
	form(action="" class="Search-form")
		select(title="Selecciona una categoría para limitar la búsqueda", class="Search-select", id="Search-select", name="Search-select")
			option(seleted="slected", value="0") Todo 
			option(value="1") categoría 1
			option(value="2") categoría 2 
			option(value="3") categoría 3 
		input(type="text", class="Search-textBtn",name="Search-textBtn" id="Search-textBtn", placeholder="Buscar")
		label(for="Search-submitBtn" class="Btn Btn--blueXS Search-submitBtn")
			span(class="flaticon-search")
		input(type="submit", class="display-none", id="Search-submitBtn", value="Buscar")