greenflat = #8DC63F
dgreenflat = #2D8B42
blueflat = #009EDF
dblueflat = #0C5C86
blueflatf = #112C4A
dgrayflat = #3D4351
redflat = #DD4B39
dredflat = #BA0613
yellowflat = #F0C42C
dyellowflat = #FFA200
grayflat = #CCCCCC
ngrayflat = #EBEEF4
lgrayflat = #F9F9F9
blackflat = #181D1F
.Notifications
	padding 0
	display flex
	flex-direction column
	height 100%
	justify-content space-between
	&-wrap
		padding 0
	&-container 
		display flex
		padding 4px
		height 58px
		position relative
		border-bottom 1px solid grayflat
		&.new
			background ngrayflat
		&.comment
			&:after
				content "\e00b"
				font-family Flaticon
				background dyellowflat
				position absolute
				color white
				height 1em
				line-height 1em
				padding .2em
				border-radius 4px
				right 4px
		&.follows
			&:after
				content "\e011"
				font-family Flaticon
				background blueflat
				position absolute
				position absolute
				color white
				height 1em
				line-height 1em
				padding .2em
				border-radius 4px
				right 4px
		&.like
			&:after
				content "\e014"
				font-family Flaticon
				background greenflat
				position absolute
				position absolute
				color white
				height 1em
				line-height 1em
				padding .2em
				border-radius 4px
				right 4px
		&.dislike
			&:after
				content "\e00d"
				font-family Flaticon
				background redflat
				position absolute
				position absolute
				color white
				height 1em
				line-height 1em
				padding .2em
				border-radius 4px
				right 4px
		&.post
			&:after
				content "\e01d"
				font-family Flaticon
				background dblueflat
				position absolute
				position absolute
				color white
				height 1em
				line-height 1em
				padding .2em
				border-radius 4px
				right 4px
			
				
	&-item
		color blackflat
		display flex
		text-decoration none
		height 50px
		width 100%
		justify-content space-between
	&-avatar
		min-width 50px
	&-preview
		padding .2em
		flex-grow 1
		overflow hidden
		display flex
		flex-direction column
		justify-content space-around
	&-author
		font-weight bold
	&-snippet
		white-space nowrap
		height 2em
		overflow hidden
		text-overflow ellipsis
	&-empty
		font-weight bold
		text-align center
		flex-grow 1
		display flex
		flex-direction column
		justify-content center	 
		
		
		