div(class="Notifications")
  ul(class="Notifications-wrap")
    //
      Notifications
    li(class="Notifications-container new comment")
      a(href="#" class="Notifications-item")
        picture(class="Notifications-avatar")
          source(srcset="https://randomuser.me/api/portraits/med/women/34.jpg", width="50", height="50")
          img(srcset="https://randomuser.me/api/portraits/med/women/34.jpg", alt="Marc Howard", width="50", height="50")
        div(class="Notifications-preview")
          div(class="Notifications-author")
            span Taylor Howard
          div(class="Notifications-snippet")
            span ha comentado tu publicado 
    li(class="Notifications-container new follows")
      a(href="#" class="Notifications-item")
        picture(class="Notifications-avatar")
          source(srcset="https://randomuser.me/api/portraits/med/women/41.jpg", width="50", height="50")
          img(srcset="https://randomuser.me/api/portraits/med/women/41.jpg", alt="Marc Howard", width="50", height="50")
        div(class="Notifications-preview")
          div(class="Notifications-author")
            span Bessie Henry
          div(class="Notifications-snippet")
            span ha comenzado a seguirte
    li(class="Notifications-container like")
      a(href="#" class="Notifications-item")
        picture(class="Notifications-avatar")
          source(srcset="https://randomuser.me/api/portraits/med/men/44.jpg", width="50", height="50")
          img(srcset="https://randomuser.me/api/portraits/med/men/44.jpg", alt="Marc Howard", width="50", height="50")
        div(class="Notifications-preview")
          div(class="Notifications-author")
            span Martin Jimenez
          div(class="Notifications-snippet")
            span califico positivamente tu post  
    li(class="Notifications-container dislike")
      a(href="#" class="Notifications-item")
        picture(class="Notifications-avatar")
          source(srcset="https://randomuser.me/api/portraits/med/men/48.jpg", width="50", height="50")
          img(srcset="https://randomuser.me/api/portraits/med/men/48.jpg", alt="Marc Howard", width="50", height="50")
        div(class="Notifications-preview")
          div(class="Notifications-author")
            span Warren Olson
          div(class="Notifications-snippet")
            span califico negativamente tu post  
     li(class="Notifications-container post")
      a(href="#" class="Notifications-item")
        picture(class="Notifications-avatar")
          source(srcset="https://randomuser.me/api/portraits/med/men/56.jpg", width="50", height="50")
          img(srcset="https://randomuser.me/api/portraits/med/men/56.jpg", alt="Marc Howard", width="50", height="50")
        div(class="Notifications-preview")
          div(class="Notifications-author")
            span Pedro Rivera
          div(class="Notifications-snippet")
            span ha publicado un anuncio  
  div(class="Notifications-empty")
    span() no hay mas notificaciones...