greenflat = #8DC63f
blueflat = #3A8EBF
dblueflat = #0C5C86
dgrayflat = #3D4351
redflat = #F84545
yellowflat = #F0C42C
grayflat = #CCCCCC
lgrayflat = #F9F9F9
.Header
	position relative
	background yellowflat
	display flex
	box-sizing border-box
	height 50px

	&-left
		width 20%
		background lgrayflat
		position relative
		&:after
			content ""
			position absolute
			border-right 50px solid transparent
			border-top 50px solid lgrayflat
			left 100%
			top 0
	&-right
		padding-left 50px
		background dgrayflat
		width 80%
		display flex
		flex-direction column
.Logo
	margin 0 auto
	padding-left .5em		
	
	